/*超出省略号*/
.text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*float*/
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*flex box*/
.box {
  display: flex;
  .box-item {
  	flex: auto;
  }
}

