@import './variable.less';

/*TODO 换行会报错*/
@font-face { font-family: 'Letter Gothic Std'; src: url('../assets/fonts/LetterGothicStd.otf'); }
@font-face { font-family: 'Consolas'; src: url('../assets/fonts/consola.ttf'); }

[v-cloak] {
  display: none;
}

::selection {
  background: @theme-pink;
  color: white;
}

.wrapper-container {
  margin-left: @document-padding;
  margin-right: @document-padding;
}
.section {
  height: @section-height;
}

html, body {
  overflow: hidden;
  overflow-y: auto;
}

body {
  margin: 0!important;
  padding: 0!important;
  background-color: white;
  font-size: @text-size;
  color: black;
  font-family: Consolas, Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:focus {
  text-decoration: none;
}
a img {
  border: 0;
}
h1, h2, h3, h4, h5, ul, p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
