/**theme color*/
@theme-pink: #e77474;
@theme-black: #3d3e47;
@theme-gray-light: #dddddd;
@theme-gray-dark: #77787e;
@theme-blue-light: #74aae7;
@theme-blue-dark: #00a0e9;
@theme-green: #74e787;
@theme-yellow: #fdffba;

/**px config*/
/*default font-size*/
@text-size: 14px;
/*menu toggle btn*/
@toggle-btn-width: 60px;
@toggle-btn-height: 4px;
@toggle-btn-space: 4px;

/**z-index config*/
@mask-box: 2000;
