<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index-NiceJe</title>
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="keywords" content="NiceJe,耐思智" />
    <meta name="description" content="耐思智官方网站,Official website of NiceJe" />
    <meta name="author" content="Team NiceJe" />
    <meta name="robots" content="index" />
    <meta http-equiv="content-language" content="zh-CN" />
    <!-- 自动刷新, 数字单位为秒, 数字后不加url即为当前页面刷新 -->
    <!-- <meta http-equiv="refresh" content="5;url=http://localhost:8085/login.html" /> -->
  </head>
  <body>
    <div id="appHeader"></div>
    <div id="appBody"></div>
    <div id="appFooter"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
